<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="LocalSPT" value="C:\Users\savant\AppData\Local\Temp\claude\C--Users-savant-Projects\6bd9f0c1-d609-406d-a37e-25ed2f0f1031\scratchpad\local-nuget-feed" />
  </packageSources>
</configuration>
